.goal {
    flex: 1;
    width: 100%;

    border: 2px solid var(--color-background-lighter);
    border-radius: 1rem;

    margin: 0.5rem 0;
    transition: all 0.3s ease
}

.goal:hover{
    border-color: var(--color-primary);
    background: var(--color-background-slightly-lighter)
}

.goal-complete-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.805)
    );
    opacity: 0;
    transition: opacity 0.2s;

    font-size: 1.5rem;
    color: yellowgreen;
    font-weight: bold;
    text-shadow: 0 -5px 15px rgba(0, 0, 0, 0.805);

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1rem;
}
.goal:hover .goal-complete-overlay {
  opacity: 1;
}

.goal-editing{
    border-color: var(--color-primary);
}

.goal-edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;

    
}

.goal-stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
}

.metric-select button{
    background-color: var(--color-background-slightly-lighter);
}

.goal-stat input{
    width: 100%
}

.input-group{
    display: flex;
    align-items: center;

    gap: 0.5rem;
}

.input-group span{
    font-size: 1rem;
    color: var(--color-text-muted);
}

.progress{
    width: 100%;
    height: 1rem;
    background-color: var(--color-background-lighter);
    border: 2px solid;
    border-color: var(--color-primary);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
}

.progress-text{
    width: 100%;
    display: inline-block;
}
.progress-bar{
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: width 0.2s ease-in-out;
    padding: rem;
}
.progress-bar.completed{
    background-color: var(--color-primary-lighter);
}


.goal-display {
    padding: 0.6rem 1rem;
}
.big-num{
    font-size: 2rem;
    font-weight: bold;
}
.unit{
    font-size: 1.5rem;
    color: var(--color-text-muted);
}

.goal-stat-container{
    display: flex;
    gap: 0.2rem;
    align-items: flex-end;
    text-align: right;
    
}

.goal-header{
    display: flex;
    align-items: center;
}
.goal-text{
    background-color: var(--color-primary-darker);
    color: var(--color-primary-lighter);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 0.2rem 0rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: auto;
    width: fit-content;
    height: fit-content;
}

.goal-target-date{
    background-color: var(--color-background-lighter);
    color: var(--color-text);
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    margin: 0;
}

.goal-dates{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.4rem;
}

.goal-start-date{
    color: var(--color-text-muted);
}

.goal-title{
    display: flex;
    align-items: center;

    gap: 0.5rem;
}

.goal-completed{
    background-color: #2d3a18;
}
.goal-completed:hover{
    background-color: #3d4e21;
    filter: brightness(1);
}

.goal-complete-text{
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 0.2rem 0rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    width: auto;
    width: fit-content;
    height: fit-content;
}